<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Quotes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container jumbotron bg-dark">
        <div class="row">
            <div class="col-lg">
                <h1 class="text-white">{{user_fn['first_name']}} {{user_fn['last_name']}}'s Quotes</h1>
            </div>
            <div class="col-sm text-right">
                <button class="btn-lg bg-primary"><a class="text-white" href="/success">Back</a></button>
                <button class="btn-lg bg-primary"><a class="text-white" href="/logout">Logout</a></button>
            </div>
        </div>
        <div class="row">
            <div class="col-5 mt-5">
                {% for quote in user_quotes %}
                    <div class="bg-light p-3 m-3 rounded">
                        <p>{{quote['author_name']}}: {{quote['content']}}</p>
                    </div>         
                {% endfor %}
            </div>
        </div>
    </div>
</html>